extends layout

block content
    section.page-content
        section.title-and-user
                h1 Clientes

                .admin-profile
                    span.greeting Olá, #{user.email}
                    .notifications
                        i(class="fa fa-user fa-lg")
    
        section.table-grid
            div.user-table
                table
                    tbody
                        tr
                            th 
                                h3 Nome
                            th 
                                h3 URL Logo
                            th
                                h3 URL Cliente
                            th 
                                
                            th  
                                
                            th  
                                
                                
                            
                    each client in clients
                        tr
                            td #{client.name}
                            td #{client.logoURL} 
                            td #{client.clientURL}
                            td.showing-button
                                form(action=`/dashboard/clients/${client.id}/toggle` method="post")
                                    input(
                                    type="submit" 
                                    value=`${client.isShowing ?
                                        "Showing" : "Not Showing"}`
                                    class="btn btn-success"
                                    )
                            td.edit-button
                                form(action=`/dashboard/clients/${client.id}/edit` method="get")
                                        input(
                                        type="submit" 
                                        value="Editar"
                                        class="btn btn-warning"
                                        )                 
                            td.delete-button
                                form(action=`/dashboard/clients/${client.id}/delete` method="post")
                                    input(
                                    value=client.id 
                                    type="hidden" 
                                    name="id"
                                    )
                                    input(
                                    type="submit"
                                    value="Apagar"
                                    class="btn btn-danger"
                                    )
                div.addUser
                    form(action="/dashboard/clients/new")
                        input(type="submit" value="Adicionar Cliente" class="btn btn-primary btn-lg")
                        