extends layout

block content
    section.page-content
        section.title-and-user
            h1 Contact Us
            
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    span.badge 1
                    svg
                        use(xlink:href='#users')
        
        section.homepage
            div.homepage-main-content
                h2 Informação
                p Aqui é possível alterar toda a informação da secção Contacte-nos do website:
                form(action="/dashboard/contactus", method="post")
                    div.panel-wrapper    
                        div.panel-head
                            h4 Endereço 1
                        input.panel-body(type="text", name="address1" value=contactInfo.address1)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Endereço 2
                        input.panel-body(type="text", name="address2" value=contactInfo.address2)      
                    div.panel-wrapper    
                        div.panel-head
                            h4 E-mail
                        input.panel-body(type="email", name="email" value=contactInfo.email)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Número de telefone/telemóvel
                        input.panel-body(type="text", name="phone" value=contactInfo.phone)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Localização - URL
                        input.panel-body(type="url", name="locationURL" value=contactInfo.locationURL)
                      
                        div
                            input(type="hidden", name="id" value=contactInfo.id)

                    div.button
                        input(type="submit", value="Save" class="btn btn-success btn-lg")


                    

                