extends layout

block content
    
    div
        h1 Update Contact Info
        form(action="/dashboard/contactus", method="post")
            div
                input(type="text", name="address1" value=contactInfo.address1)
            div
                input(type="text", name="address2" value=contactInfo.address2)      
            div
                input(type="email", name="email" value=contactInfo.email)
            div
                input(type="number", name="phone" value=contactInfo.phone)
            div
                input(type="url", name="locaton" value=contactInfo.locationURL)

            div 
                input(type="submit", value="Save")


        

        