extends layout

block content
    section.page-content
        section.title-and-user
            h1 Clientes
            
            .admin-profile
                span.greeting Olá, #{user.email}
                .notifications
                    i(class="fa fa-user fa-lg")

        section.table-grid
            div.user-table
                h2 Editar Cliente
                form(action=`/dashboard/clients/${client.id}/edit`, method="post")
                    div
                        input(type="text", name="name" value=client.name)
                    div
                        input(type="url", name="logoURL" value=client.logoURL)      
                    div
                        input(type="url", name="clientURL" value=client.clientURL)

                    div.addUser
                        input(type="submit", value="Guardar Cliente", class="btn btn-success btn-lg")