extends layout

block content
    section.page-content
        section.title-and-user
            h1 Review
            
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    span.badge 1
                    svg
                        use(xlink:href='#users')
        
        section.homepage
            div.homepage-main-content
                h2 Editar a Review de #{review.name}
                form(action=`/dashboard/reviews/${review.id}/edit`, method="post")
                    div.panel-wrapper    
                        div.panel-head
                            h4 Nome
                        input.panel-body(type="text", name="name" value=review.name)
                    div.panel-wrapper    
                        div.panel-head
                            h4 E-mail
                        input.panel-body(type="email", name="email" value=review.email)      
                    div.panel-wrapper    
                        div.panel-head
                            h4 Comentário PT
                        input.panel-body(type="text", name="commentPT" value=review.commentPT)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Título PT
                        input.panel-body(type="text", name="titlePT" value=review.titlePT)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Empresa
                        input.panel-body(type="text", name="company" value=review.company)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Comentário EN
                        input.panel-body(type="text", name="commentEN" value=review.commentEN)
                    div.panel-wrapper    
                        div.panel-head
                            h4 Título EN
                        input.panel-body(type="text", name="titleEN" value=review.titleEN)
                    div
                        label 0- Não Aprovado 1- Aprovado
                        br
                        input(type="number" name="isApproved" value=review.isApproved step=1 min=0 max=1)
                    div
                        label 0-Não Mostrar 1-Mostrar
                        br 
                        input(type="number" name="isShowing" value=review.isShowing step=1 min=0 max=1)
                        
                        div 
                            input(type="hidden", name="id" value=review.id)
                    
                    div.button
                        input(type="submit", value="Editar" class="btn btn-warning btn-lg")
                br
                form(action="/dashboard/reviews/" + review.id + "/delete" method="post")
                    div.button
                        input(type="submit", value="Apagar" class="btn btn-danger btn-lg")

