extends layout

block content
    
    h1 Homepage 
    div
        a(href="/dashboard") Dashboard

    h3 Information
    p Here you have the general information on the website:
    div
        form(action="/dashboard/homepage", method="post")
            div
                h4 Title in portuguese
                input(type="text", name="titlePT" value=homepageInfo.titlePT)
            div
                h4 Title in english
                input(type="text", name="titleEN" value=homepageInfo.titleEN)      
            div
                h4 Intro in portuguese
                input(type="text", name="introPT" value=homepageInfo.introPT)
            div
                h4 Intro in english
                input(type="text", name="introEN" value=homepageInfo.introEN)
            div
                h4 About Us text in portuguese
                input(type="text", name="aboutUsPT" value=homepageInfo.aboutUsPT)
            div
                h4 About Us text in english
                input(type="text", name="aboutUsEN" value=homepageInfo.aboutUsEN)

            div 
                input(type="hidden", name="id" value=homepageInfo.id)

            div 
                input(type="submit", value="Save")


        