extends layout

block content
    section.page-content
        section.title-and-user
                h1 Homepage
                
                .admin-profile
                    span.greeting Hi, #{user.email}
                    .notifications
                        span.badge 1
                        svg
                            use(xlink:href='#users')

                div
                    a(href="/dashboard") Dashboard

        section.homepage
            div.homepage-main-content
                h3 Information
                p Here you have the general information on the website:
                form(action="/dashboard/homepage", method="post")
                    div.panel-wrapper
                        div.panel-head
                            h4 Title in portuguese
                        input.panel-body(type="text", name="titlePT" value=homepageInfo.titlePT)
                    div.panel-wrapper
                        div.panel-head
                            h4 Title in english
                        input.panel-body(type="text", name="titleEN" value=homepageInfo.titleEN)
                    div.panel-wrapper  
                        div.panel-head
                            h4 Intro in portuguese
                        input.panel-body(type="text", name="introPT" value=homepageInfo.introPT)
                    div.panel-wrapper
                        div.panel-head
                            h4 Intro in english
                        input.panel-body(type="text", name="introEN" value=homepageInfo.introEN)
                    div.panel-wrapper
                        div.panel-head
                            h4 About Us text in portuguese
                        textarea.panel-body(type="text", name="aboutUsPT") #{homepageInfo.aboutUsPT}
                    div.panel-wrapper
                        div.panel-head
                            h4 About Us text in english
                        input.panel-body(type="text", name="aboutUsEN" value=homepageInfo.aboutUsEN)

                        div 
                            input(type="hidden", name="id" value=homepageInfo.id)

            div.button 
                input(type="submit", value="Save" class="btn btn-success btn-lg")


        