extends layout

block content
    section.page-content
        section.title-and-user
            h1 Simulador Segurança Social
            
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    i(class="fa fa-user fa-lg")

        section.homepage
            div.homepage-main-content 
                div.review-wrapper
                    form(action="/dashboard/simulators", method="post")
                        div.ssheader
                            h3 Tax ENI
                            br
                            input(type="number", name="taxENI" step=0.0001 value=simulator.taxENI)
                        div.ssheader 
                            h3 Tax TI
                            br
                            input(type="number", name="taxTI" step=0.0001 value=simulator.taxTI)      
                        div.ssheader
                            h3 % Services
                            br
                            input(type="number", name="percentageServices" step=0.0001 value=simulator.percentageServices)
                        div.ssheader
                            h3 % Goods
                            br
                            input(type="number", name="percentageGoods" step=0.0001 value=simulator.percentageGoods)
                        div.ssheader
                            h3 % Others
                            br
                            input(type="number", name="percentageOthers" step=0.0001 value=simulator.percentageOthers)
                        div.ssheader
                            h3 min ENICO
                            br
                            input(type="number", name="minENICO" step=0.01 value=simulator.minENICO)
                        div.ssheader
                            h3 min TICO
                            br
                            input(type="number", name="minTICO" step=0.01 value=simulator.minTICO)
                        div.ssheader
                            h3 min TI Simplificado
                            br
                            input(type="number", name="minTISimplificado" step=0.01 value=simulator.minTISimplificado)
                        div.ssheader
                            h3 Revenue Exemption
                            br
                            input(type="number", name="revenueExemption" step=0.01 value=simulator.revenueExemption)
                        div.ssheader
                            h3 % Revenue Exemption
                            br
                            input(type="number", name="percentageRevenueExemption" step=0.0001 value=simulator.percentageRevenueExemption)
                        div.ssheader
                            h3 Gross Wage Exemption
                            br
                            input(type="number", name="grossWageExemption" step=0.01 value=simulator.grossWageExemption)            
                        br
                        
                        div.addUser
                            input(type="submit", value="Save" class="btn btn-success btn-lg") 