extends layout

block content
   section.page-content
        section.title-and-user
            h1 Simulador Mais Valias
            
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    span.badge 1
                    svg
                        use(xlink:href='#users')

            div
                a(href="/dashboard") Dashboard

        section.homepage
            div.homepage-main-content 
                div.review-wrapper
                    section.table-grid
                        div.user-table  
                            table
                                tbody
                                    tr
                                        th
                                            h4 Ano
                                        th 
                                            h4 Coeficiente
                                        th 
                                            h4 Taxa IRS
                                form(action='/dashboard/simulators/maisvalias', method='post')
                                    each year in simulatorMaisValias
                                        tr.fontMais
                                            td
                                                input(type="number", name="year" step=1 value=year.year)
                                            td
                                                input(type="number", name="coeficient" step=0.0001 value=year.coeficient)
                                            td
                                                input(type="number", name="taxIRS" step=0.0001 value=year.taxIRS)
                                            td
                                                input(type="hidden" value=year.id)
                                    div
                                        input(type="submit" value="Editar" class="btn btn-warning") 