extends layout

block content
   section.page-content
        section.title-and-user
            h1 Simulador Mais Valias
            
            .admin-profile
                span.greeting Olá, #{user.email}
                .notifications
                    i(class="fa fa-user fa-lg")

        section.homepage
            div.homepage-main-content 
                div.review-wrapper
                    section.table-grid
                        div.user-table
                            form(action='/dashboard/simulators/maisvalias', method='post')  
                                table
                                    tbody
                                        tr
                                            th
                                                h3 Ano
                                            th 
                                                h3 Coeficiente
                                            th 
                                                h3 Taxa IRS 
                                    
                                        each year in simulatorMaisValias
                                            tr
                                                td
                                                    input(type="number", name="year" step=1 value=year.year)
                                                td
                                                    input(type="number", name="coeficient" step=0.0001 value=year.coeficient)
                                                td
                                                    input(type="number", name="taxIRS" step=0.0001 value=year.taxIRS)
                                                td
                                                    input(type="hidden" value=year.id)
                                div.addUser
                                    input(type="submit" value="Guardar" class="btn btn-success btn-lg") 