extends layout

block content
  section.page-content
    section.title-and-user
        h1 Utilizadores
        
        .admin-profile
          span.greeting Olá, #{user.email}
          .notifications
            i(class="fa fa-user fa-lg")
    
    section.table-grid
      div.user-table
        h2 Lista de utilizadores
        p Adicionar e remover utilizadores

      
        table
          tbody
            tr
              th 
                h3 Utilizador  
              th
                h3 Remover  
          each user in users
            tr
              td #{user.email}
              td
                form(action=`/auth/${user.id}/delete` method="post")
                  input(
                  type="submit"
                  value="Remover"
                  class="btn btn-danger"
                  ) 
        
        div.addUser
          form(action="/auth/signup") 
            input(type="submit" value="Adicionar Utilizador" class="btn btn-primary btn-lg")      

