extends layout

block content
  section.page-content
    section.title-and-user
        h1 Users
        
        .admin-profile
          span.greeting Hi, #{user.email}
          .notifications
            i(class="fa fa-user fa-lg")
    
    section.table-grid
      div.user-table
        h2 Users List
        p Here you can add and delete users

      
        table
          tbody
            tr
              th 
                h4 User  
              th
                h4 Delete  
          each user in users
            tr
              td #{user.email}
              td
                form(action=`/auth/${user.id}/delete` method="post")
                  input(
                  type="submit"
                  value="Delete"
                  class="btn btn-danger"
                  ) 
        
        div.addUser
          form(action="/auth/signup") 
            input(type="submit" value="Add User" class="btn btn-primary btn-lg")      

