extends layout

block content
  video#video
    source(src='https://res.cloudinary.com/hmfinance/video/upload/v1581699491/Site/logo_u2ckij_expblz.mp4' autoplay='' muted='' preload='auto')

  #home
    .pcontainer
      img.pimage(src='https://res.cloudinary.com/hmfinance/image/upload/v1581694268/Site/1_phyg0f_flgctk.jpg', data-speed='-1')
      #graytowhiteseparator
        h1 #{translations[locale].SectionsTitles.Clients}
    #logo
      img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581694391/Site/logo_cnw1hy_cailbt.png', alt='HM Finance')
      h2 #{translations[locale].Others.PersonalT}
    #describox
      #descri
        h3#descri1
          p #{locale === 'pt' ? PTaboutUS[0] : ENaboutUS[0]}
        h3#descri2
          p #{locale === 'pt' ? PTaboutUS[1] : ENaboutUS[1]}
        h3#descri3
          p #{locale === 'pt' ? PTaboutUS[2] : ENaboutUS[2]}
        h3#descri4
          p #{locale === 'pt' ? PTaboutUS[3] : ENaboutUS[3]}
  a#clients.anchor
  #clients
    .clientsgrid
      a.clientsgrid1(href=`${data.clients[0].clientURL}` target='_blank')
        img(src=`${data.clients[0].logoURL}`)
        div
          h3 #{data.clients[0].name}
          
      a.clientsgrid2(href=`${data.clients[1].clientURL}` target='_blank')
        img(src=`${data.clients[1].logoURL}`)
        div
          h3 #{data.clients[1].name}
          
      a.clientsgrid3(href=`${data.clients[2].clientURL}` target='_blank')
        img(src=`${data.clients[2].logoURL}`)
        div
          h3 #{data.clients[2].name}

    #mid
  #services
    #whitetograyseparator
      h1 #{translations[locale].SectionsTitles.Services}
    .pcontainer
      img.pimage(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700713/Site/background/2_byfizh_tnkqzm.jpg', data-speed='-1')
      .servicesgrid
        .servicesgrid1
          a(href='/services/#company')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700542/Site/services%20section/business_jyjl48_eydqvd.png')
            h3 #{translations[locale].Services.Titles.Company}
        .servicesgrid2
          a(href='/services/#accounting')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700542/Site/services%20section/chrome_reader_mode_qsnsfs_f9bopp.png')
            h3 #{translations[locale].Services.Titles.Accounting} 
        .servicesgrid3
          a(href='/services/#analytical')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700542/Site/services%20section/find_in_page_fycyth_haalmp.png')
            h3 #{translations[locale].Services.Titles.Analytical}
        .servicesgrid4
          a(href='/services/#humanresources')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700542/Site/services%20section/folder_shared_ldra6w_tbqjet.png')
            h3 #{translations[locale].Services.Titles.HR}
        .servicesgrid5
          a(href='/services/#party')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700542/Site/services%20section/security_i6jgsp_zj6c1b.png')
            h3 #{translations[locale].Services.Titles.Party}
        .servicesgrid6
          a(href='/services/#others') 
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700542/Site/services%20section/people_jtxqkg_fhkqrz.png')
            h3 #{translations[locale].Services.Titles.Others} 

      #graytowhiteseparator
        h1 #{translations[locale].SectionsTitles.Simulators}
    a#simulators.anchor


    #simulators
      .simsgrid
        .simsgrid1
          <br>
          a(href='/simulators/#simulatorSS' )
            h3 Simulador<br>Segurança Social
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700733/Site/simulators%20section/sims1_rem8cj_lq2ctq.png')
        .simsgrid2
          <br>
          a(href='/simulators/#simulatorMV' )
             h3 Simulador<br>Mais Valias
             img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700733/Site/simulators%20section/sims2_fetvgf_hwveka.png')
        .simsgrid3
          <br>
          a(href='/simulators/#simulatorIMT' )
             h3 Simulador<br>IMT
             img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700733/Site/simulators%20section/sims3_idlpwv_v904ey.png')

    #contactus
      #whitetograyseparator
        h1 #{translations[locale].SectionsTitles.ContactUs}
      .pcontainer
        img.pimage(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700717/Site/background/3_mfe5ys_fvbpvf.jpg', data-speed='-1')
        .contactusgrid
          .contactusgrid1
            h3 #{translations[locale].ContactUs.Email}
            p #{data.contactUs[0].email}
            br
            br
            h3 #{translations[locale].ContactUs.Phone}
            p #{data.contactUs[0].phone}
            br
            br
            h3 #{translations[locale].ContactUs.Address}
            p #{data.contactUs[0].address1}
            p #{data.contactUs[0].address2}
            br
            br
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.3393594753975!2d-9.229967885011321!3d38.75591977959266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd05db2f959d%3A0x16d90a25b997894d!2sHM+Finance!5e0!3m2!1spt-PT!2spt!4v1488308784739', allowfullscreen='', width='400px', height='290px', frameborder='0')
          .contactusgrid2
            form.contactusMessage(action="/sendmessage", method="post")
              
              label.contactUs #{translations[locale].ContactUs.FormName}
              input(type='text', name='name', onfocus="this.value=''", value=`${translations[locale].Others.ContactUsForm.Name}`)
              br
              label.contactUs #{translations[locale].ContactUs.FormEmail}
              input(type='text', name='email', onfocus="this.value=''", value=`${translations[locale].Others.ContactUsForm.Email}`)
              br
              label.contactUs #{translations[locale].ContactUs.FormMessage}
              textarea#question(name='question', rows='10') #{translations[locale].Others.ContactUsForm.Help}

              input(type='submit', value=`${translations[locale].Others.Button}`)
        #graytowhiteseparator
          h1 #{translations[locale].SectionsTitles.Reviews}
      a#reviews.anchor


    #reviews
      #reviewimg
        #reviewimg1
          i
            b #{data.review[0].name}
        #reviewimg2
          i
            b #{data.review[1].name}
        #reviewimg3
          i
            b #{data.review[2].name}
        #reviewimg4
          i
            b #{data.review[2].name}
      #reviewbox
        #reviewbox1
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[0].commentPT : data.review[0].commentEN}
          br
          br
          h5 &rdquo;
        #reviewbox2
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[1].commentPT : data.review[1].commentEN}
          br
          br
          h5 &rdquo;
        #reviewbox3
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[2].commentPT : data.review[2].commentEN}
          br
          br
          h5 &rdquo;
        #reviewbox4
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[2].commentPT : data.review[2].commentEN}
          br
          br
          h5 &rdquo;

    //- #footer
    //-   .footergrid
    //-     .footergrid1
    //-       a(href='')
    //-         img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/thumb_up_cttdpb_zdzxjb.png', width='30', height='30')
    //-         | #{translations.both.Footer.Face}
    //-     .footergrid2
    //-       a(href='')
    //-         img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/camera_alt_pmxjl0_ksqqod.png', width='30', height='30')
    //-         | #{translations.both.Footer.Insta}
    //-     .footergrid3
    //-       a(href='')
    //-         img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/account_circle_eoq61g_qx6jof.png', width='30', height='30')
    //-         | #{translations.both.Footer.LinkIn}
    //-     .footergrid4
    //-       a(href='')
    //-         img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/email_phqlzj_r9j5dq.png', width='30', height='30')
    //-         | #{translations.both.Footer.Email}
    //-     .footergrid5
    //-       h10 #{translations.both.Footer.HMFin}
    //-     .footergrid6
    //-       h10 #{translations.both.Footer.WCS}

    
  script(type='text/javascript', src='//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js', data-dojo-config='usePlainJson: true, isDebug: false')
  script(src='/javascripts/mailchimp.js')
  //- Script to display the cookies banner. The link is currently sending the user to an empty page, the privacy policy should be put here
  script(type="text/javascript" id="cookiebanner" src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js" data-message=`${translations[locale].CookiesText}` data-moreinfo="/privacy-policy")





