extends layout

block content

  #menubuttondiv
    img#menubutton(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/menu_gbcjny.png')
  #langbuttondiv
    a(href='/setlanguage/pt')
      img#langbutton(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/langpt_cckbaa.png')
    a(href='/setlanguage/en')

      img#langbutton(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/langen_i0dtxi.png')

  #navbar  
    ul
      li
        a#homeid(href='#home') #{translations[locale].SectionsTitles.HMFinance}
      li
        a(href='#clients') #{translations[locale].SectionsTitles.Clients}
      li
        a(href='/services') #{translations[locale].SectionsTitles.Services}
      li
        a(href='#simulators') #{translations[locale].SectionsTitles.Simulators}
      li
        a(href='#contactus') #{translations[locale].SectionsTitles.ContactUs}
      li
        a(href='#reviews') #{translations[locale].SectionsTitles.Reviews}


  #home
    .pcontainer
      img.pimage(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730162/HMFinance/1_phyg0f.jpg', data-speed='-1')
      #graytowhiteseparator
        h1 #{translations[locale].SectionsTitles.Clients}
    #logo
      img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/logo_cnw1hy.png', alt='HM Finance')
      h2 #{translations[locale].Others.PersonalT}
    #describox
      #descri
        h3#descri1
          p #{locale === 'pt' ? PTaboutUS[0] : ENaboutUS[0]}
        h3#descri2
          p #{locale === 'pt' ? PTaboutUS[1] : ENaboutUS[1]}
        h3#descri3
          p #{locale === 'pt' ? PTaboutUS[2] : ENaboutUS[2]}
        h3#descri4
          p #{locale === 'pt' ? PTaboutUS[3] : ENaboutUS[3]}
  a#clients.anchor
  #clients
    .clientsgrid
      a.clientsgrid1(href=`${data.clients[0].clientURL}`)
        img(src=`${data.clients[0].logoURL}`)
        div
          h3 #{data.clients[0].name}
          
      a.clientsgrid2(href=`${data.clients[1].clientURL}`)
        img(src=`${data.clients[1].logoURL}`)
        div
          h3 #{data.clients[1].name}
          
      a.clientsgrid3(href=`${data.clients[2].clientURL}`)
        img(src=`${data.clients[2].logoURL}`)
        div
          h3 #{data.clients[2].name}
          
    #mid
  #services
    #whitetograyseparator
      h1 #{translations[locale].SectionsTitles.Services}
    .pcontainer
      img.pimage(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730157/HMFinance/2_byfizh.jpg', data-speed='-1')
      .servicesgrid
        .servicesgrid1
          a(target='_blank' href='/services/#company')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730158/HMFinance/business_jyjl48.png')
            h3 #{translations[locale].Services.Titles.Company}
        .servicesgrid2
          a(target='_blank' href='/services/#accounting')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730158/HMFinance/chrome_reader_mode_qsnsfs.png')
            h3 #{translations[locale].Services.Titles.Accounting} 
        .servicesgrid3
          a(target='_blank' href='/services/#analytical')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730158/HMFinance/find_in_page_fycyth.png')
            h3 #{translations[locale].Services.Titles.Analytical}
        .servicesgrid4
          a(target='_blank' href='/services/#humanresources')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/folder_shared_ldra6w.png')
            h3 #{translations[locale].Services.Titles.HR}
        .servicesgrid5
          a(target='_blank' href='/services/#party')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/security_i6jgsp.png')
            h3 #{translations[locale].Services.Titles.Party}
        .servicesgrid6
          a(target='_blank' href='/services/#others') 
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/people_jtxqkg.png')
            h3 #{translations[locale].Services.Titles.Others} 

      #graytowhiteseparator
        h1 #{translations[locale].SectionsTitles.Simulators}
    a#simulators.anchor


    #simulators
      .simsgrid
        .simsgrid1
          <br>
          a(href='/simulators/#simulatorSS' target='_blank')
            h3 Simulador<br>Segurança Social
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/sims1_rem8cj.png')
        .simsgrid2
          <br>
          a(href='/simulators#simulatorMV' target='_blank')
             h3 Simulador<br>Mais Valias
             img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730160/HMFinance/sims2_fetvgf.png')
        .simsgrid3
          <br>
          a(href='/simulators#simulatorIMT' target='_blank')
             h3 Simulador<br>IMT
             img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730159/HMFinance/sims3_idlpwv.png')

    #contactus
      #whitetograyseparator
        h1 #{translations[locale].SectionsTitles.ContactUs}
      .pcontainer
        img.pimage(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730157/HMFinance/3_cienct.jpg', data-speed='-1')
        .contactusgrid
          .contactusgrid1
            h3 #{translations[locale].ContactUs.Email}
            p #{data.contactUs[0].email}
            br
            br
            h3 #{translations[locale].ContactUs.Phone}
            p #{data.contactUs[0].phone}
            br
            br
            h3 #{translations[locale].ContactUs.Address}
            p #{data.contactUs[0].address1}
            p #{data.contactUs[0].address2}
            br
            br
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.3393594753975!2d-9.229967885011321!3d38.75591977959266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd05db2f959d%3A0x16d90a25b997894d!2sHM+Finance!5e0!3m2!1spt-PT!2spt!4v1488308784739', allowfullscreen='', width='100%', height='100%', frameborder='0')
          .contactusgrid2
            form(action="/sendmessage", method="post")
              h3 #{translations[locale].ContactUs.FormName}
              br
              input(type='text', name='name', onfocus="this.value=''", value=`${translations[locale].Others.ContactUsForm.Name}`)
              h3 #{translations[locale].ContactUs.FormEmail}
              br
              input(type='text', name='email', onfocus="this.value=''", value=`${translations[locale].Others.ContactUsForm.Email}`)
              h3 #{translations[locale].ContactUs.FormMessage}
              br
              textarea#question(name='question', rows='10') #{translations[locale].Others.ContactUsForm.Help}
              input(type='submit', value='SEND')
        #graytowhiteseparator
          h1 #{translations[locale].SectionsTitles.Reviews}
      a#reviews.anchor


    #reviews
      #reviewimg
        #reviewimg1
          i
            b #{data.review[0].name}
        #reviewimg2
          i
            b #{data.review[1].name}
        #reviewimg3
          i
            b #{data.review[2].name}
        #reviewimg4
          i
            b #{data.review[2].name}
      #reviewbox
        #reviewbox1
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[0].commentPT : data.review[0].commentEN}
          br
          br
          h5 &rdquo;
        #reviewbox2
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[1].commentPT : data.review[1].commentEN}
          br
          br
          h5 &rdquo;
        #reviewbox3
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[2].commentPT : data.review[2].commentEN}
          br
          br
          h5 &rdquo;
        #reviewbox4
          h5 &ldquo;
          | &thinsp; #{locale === 'pt' ? data.review[2].commentPT : data.review[2].commentEN}
          br
          br
          h5 &rdquo;

    #footer
      .footergrid
        .footergrid1
          a(href='')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730160/HMFinance/thumb_up_cttdpb.png', width='20', height='20')
            | #{translations.both.Footer.Face}
        .footergrid2
          a(href='')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730158/HMFinance/camera_alt_pmxjl0.png', width='20', height='20')
            | #{translations.both.Footer.Insta}
        .footergrid3
          a(href='')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730158/HMFinance/account_circle_eoq61g.png', width='20', height='20')
            | #{translations.both.Footer.LinkIn}
        .footergrid4
          a(href='')
            img(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730158/HMFinance/email_phqlzj.png', width='20', height='20')
            | #{translations.both.Footer.Email}
        .footergrid5
          h4 #{translations.both.Footer.HMFin}
        .footergrid6
          h4 #{translations.both.Footer.WCS}

  script.
    $('textarea#question').focus(function() {
      $(this).val('');
    });
    $('.pimage').each(function(){
      var img = $(this);
      var imgParent = $(this).parent();
      
      function parallaxImg () {
        var speed = img.data('speed');
        var imgY = imgParent.offset().top;
        var winY = $(this).scrollTop();
        var winH = $(this).height();
        var parentH = imgParent.innerHeight();
        var winBottom = winY + winH;

        if (winBottom > imgY && winY < imgY + parentH) {
          var imgBottom = ((winBottom - imgY) * speed);
          var imgTop = winH + parentH;
          var imgPercent = ((imgBottom / imgTop) * 100) + (50 - (speed * 50));
        }
        img.css({
          top: imgPercent + '%',
          transform: 'translate(-50%, -' + imgPercent + '%)'
        });
      }

      $(document).on({
        scroll: function () {
          parallaxImg();
        }, ready: function () {
          parallaxImg();
        }
      });
    });

    ;(function($, win) {
      $.fn.inViewport = function(cb) {
        return this.each(function(i,el){
          function visPx(){
            var H = $(this).height(),
            r = el.getBoundingClientRect(), t=r.top, b=r.bottom;
            return cb.call(el, Math.max(0, t>0? H-t : (b<H?b:H)));
          } visPx();
          $(win).on("resize scroll", visPx);
        });
      };
    }(jQuery, window));
    $("#mid").inViewport(function(px){
      if(px) $(".clientsgrid1").addClass("showscroll1")
      if(px) $(".clientsgrid2").addClass("showscroll2")
      if(px) $(".clientsgrid3").addClass("showscroll3")
      ;
    });
    $(".servicesgrid1").inViewport(function(px){
      if(px) $(".servicesgrid1").addClass("showscroll1")
      if(px) $(".servicesgrid2").addClass("showscroll2")
      if(px) $(".servicesgrid3").addClass("showscroll3")
      if(px) $(".servicesgrid4").addClass("showscroll4")
      if(px) $(".servicesgrid5").addClass("showscroll5")
      if(px) $(".servicesgrid6").addClass("showscroll6")
      ;
    });
    $("#simulators").inViewport(function(px){
      if(px) $(".simsgrid1").addClass("showscroll1")
      if(px) $(".simsgrid2").addClass("showscroll2")
      if(px) $(".simsgrid3").addClass("showscroll3")
      ;
    });		
    $(".footergrid1").inViewport(function(px){
      if(px) $(".footergrid1").addClass("showscroll1")
      if(px) $(".footergrid2").addClass("showscroll2")
      if(px) $(".footergrid3").addClass("showscroll3")
      if(px) $(".footergrid4").addClass("showscroll4")
      if(px) $(".footergrid5").addClass("showscroll5")
      if(px) $(".footergrid6").addClass("showscroll6")
      ;
    });
    $(".contactusgrid").inViewport(function(px){
      if(px) $(".contactusgrid1").addClass("showscroll1")
      ;
    });
    $(".contactusgrid2").inViewport(function(px){
      if(px) $(".contactusgrid2").addClass("showscroll2")
      ;
    });

  script(type='text/javascript', src='//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js', data-dojo-config='usePlainJson: true, isDebug: false')
  script(src='/javascripts/mailchimp.js')




