doctype html
html
  head
    //- Meta Tags Google
    title HMFinance
    meta(charset='UTF-8')
    meta(name='description' content='Uma equipa dinâmica formada em Contabilidade, Fiscalidade, Auditoria e Gestão de Recursos Humanos. Conheça a qualidade e a oferta dos nossos serviços em Lisboa.')

    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    //- Meta Tags Facebook (Quanto tivermos o URL final descomentar e adicionar + adicionar imagens à cloud para termos URL e ficar acessível ao Facebook)
    //- meta(property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
    meta(property="og:title" content="HM Finance, serviços de contabilidade. Vários anos de experiência em serviços contabílisticos.")
    meta(property="og:description" content="Uma equipa dinâmica formada em Contabilidade, Fiscalidade, Auditoria e Gestão de Recursos Humanos. Conheça a qualidade e a oferta dos nossos serviços em Lisboa.")
    //- meta(property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")

    link(rel='stylesheet', href='/stylesheets/homepage.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="icon" href="https://res.cloudinary.com/hmfinance/image/upload/b_rgb:ffffff/v1581694391/Site/logo_cnw1hy_cailbt.png" type="image/icon type")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script.
      $(document).ready(function(){
        $("#menubutton").click(function(){
            $("#navbar").slideToggle();
        });
      });
      $(document).ready(function(){
        $("#navbar").click(function(){
            $("#navbar").slideToggle();
        });
      });
  body
    #menubuttondiv
      i#menubutton(class="fa fa-bars fa-2x aria-hidden='true'")
    #langbuttondiv
      a(href='/setlanguage/pt')
        img#langbutton(src='https://res.cloudinary.com/hmfinance/image/upload/v1581694267/Site/langpt_g1kkml.png')
      a(href='/setlanguage/en')
        img#langbutton(src='https://res.cloudinary.com/hmfinance/image/upload/v1581694267/Site/langen_xhjegj.png')
    #navbar  
      ul
        li
          a#homeid(href='/#home') #{translations[locale].SectionsTitles.HMFinance}
        li
          a(href='/#clients') #{translations[locale].SectionsTitles.Clients}
        li
          a(href='/services') #{translations[locale].SectionsTitles.Services}
        li
          a(href='/simulators') #{translations[locale].SectionsTitles.Simulators}
        li
          a(href='/#contactus') #{translations[locale].SectionsTitles.ContactUs}
        li
          a(href='/#reviews') #{translations[locale].SectionsTitles.Reviews}
          
    block content

    #footer
      .footergrid
        .footergrid1
          a(href='')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/thumb_up_cttdpb_zdzxjb.png', width='30', height='30')
            | #{translations.both.Footer.Face}
        .footergrid2
          a(href='')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/camera_alt_pmxjl0_ksqqod.png', width='30', height='30')
            | #{translations.both.Footer.Insta}
        .footergrid3
          a(href='https://www.linkedin.com/in/hugo-maia-7b371525/?originalSubdomain=pt' target='_blank')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/account_circle_eoq61g_qx6jof.png', width='30', height='30')
            | #{translations.both.Footer.LinkIn}
        .footergrid4
          a(href='mailto: geral@hmfinance.pt')
            img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581700750/Site/footer/email_phqlzj_r9j5dq.png', width='30', height='30')
            | #{translations.both.Footer.Email}
        .footergrid5
          h10 #{translations.both.Footer.HMFin}
        .footergrid6
          h10 #{translations.both.Footer.WCS}

  script(src='/javascripts/misc.js')
    
