extends layout

//- doctype html
//- html
//-   head
//-     //- Meta Tag Google
//-     title Oferta de Serviços HM Finance
//-     meta(charset='UTF-8')
//-     meta(name='description' content='Recursos humanos, contabilidade, criação de empresa e outros serviços.')
//-     meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

//-     //- Meta Tags Facebook (Quanto tivermos o URL final descomentar e adicionar + adicionar imagens à cloud para termos URL e ficar acessível ao Facebook)
//-     //- meta(property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
//-     meta(property="og:title" content="Oferta de Serviços HM Finance:")
//-     meta(property="og:description" content="Recursos humanos, contabilidade, criação de empresa e outros serviços.")
//-     //- meta(property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")

//-     link(rel='stylesheet', href='/stylesheets/homepage.css')
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
//-     script.
//-       $(document).ready(function(){
//-         $("#menubutton").click(function(){
//-             $("#navbar").slideToggle();
//-         });
//-       });
//-       $(document).ready(function(){
//-         $("#navbar").click(function(){
//-             $("#navbar").slideToggle();
//-         });
//-       });
    
//-   body

block content
    #title
      <br>
      h1 #{translations[locale].Services.Title}

    #mainservices
      .pcontainerservices
        img.pimageservices(src='https://res.cloudinary.com/dcpwkfvej/image/upload/v1580730162/HMFinance/1_phyg0f.jpg', data-speed='-2')
    
      .servicespagegrid
        .servicespagegrid1
          img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581525384/Site/services%20page/A_-_Constitui%C3%A7%C3%A3o_da_empresa_xbscka.jpg')

          .servicespagetitle
            br
            h3 #{translations[locale].Services.Titles.Company}
            //- h3 #{translations[locale].Services.SubTitles.Company}
          .servicespagedescri
            p #{translations[locale].Services.ServicesText.Company}

        .servicespagegrid2
          img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581527060/Site/services%20page/Contabilidade_debddn.jpg')

          .servicespagetitle
            br
            h3 #{translations[locale].Services.Titles.Accounting}
            //- h3 #{translations[locale].Services.SubTitles.Accounting}
          .servicespagedescri
            p #{translations[locale].Services.ServicesText.Accounting}

        .servicespagegrid3
          img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581525383/Site/services%20page/C-money-2696229_1920_jxbpa4.jpg')

          .servicespagetitle
            br
            h3 #{translations[locale].Services.Titles.Analytical}
            //- h3 #{translations[locale].Services.SubTitles.Analytical}
          .servicespagedescri
            p #{translations[locale].Services.ServicesText.Analytical}

        .servicespagegrid4
          img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581525383/Site/services%20page/D-sunrise-mountaineering-glacier-team-mexico-orizaba_vowroa.jpg')

          .servicespagetitle
            br
            h3 #{translations[locale].Services.Titles.HR}
            //- h3 #{translations[locale].Services.SubTitles.HR}
          .servicespagedescri
            p #{translations[locale].Services.ServicesText.HR}

        .servicespagegrid5
          img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581701646/Site/services%20page/services6_h7djux_qp4owt.jpg')

          .servicespagetitle
            br
            h3 #{translations[locale].Services.Titles.Party}
            //- h3 #{translations[locale].Services.SubTitles.Party}
          .servicespagedescri
            p #{translations[locale].Services.ServicesText.Party}

        .servicespagegrid6
          img(src='https://res.cloudinary.com/hmfinance/image/upload/v1581525383/Site/services%20page/F-tree_spx4op.jpg')

          .servicespagetitle
            br
            h3 #{translations[locale].Services.Titles.Others}
          .servicespagedescri
            p #{translations[locale].Services.ServicesText.Others}

        .servicespagegrid7
            a.contactusbutton(href='/#contactus') #{translations[locale].Services.ServicesText.Button}


    script.
      $("textarea#question").focus(function() {
      $(this).val("")
      }),
      $(".pimageservices").each(function() {
      var c = $(this),
      e = $(this).parent();
      function s() {
      var s = c.data("speed"),
      o = e.offset().top,
      r = $(this).scrollTop(),
      i = $(this).height(),
      l = e.innerHeight(),
      d = r + i;
      if (o < d && r < o + l) var a = (d - o) * s / (i + l) * 100 + (50 - 50 * s);
      c.css({
      top: a + "%",
      transform: "translate(-50%, -" + a + "%)"
      })
      }
      $(document).on({
      scroll: function() {
      s()
      },
      ready: function() {
      s()
      }
      })
      }),
      function(a, r) {
      a.fn.inViewport = function(d) {
      return this.each(function(s, l) {
      function o() {
      var s = a(this).height(),
      o = l.getBoundingClientRect(),
      r = o.top,
      i = o.bottom;
      return d.call(l, Math.max(0, 0 < r ? s - r : i < s ? i : s))
      }
      o(), a(r).on("resize scroll", o)
      })
      }
      }