block content
  h1 Homepage
  
  
  div
    h2 Reviews
    each review in data.review
      p #{review.id}
      p #{review.name}
      p #{review.email}
      p #{review.commentPT}
      p #{review.titlePT}
      p #{review.company}
      p #{review.isApproved}
      p #{review.isShowing}
      p #{review.commentEN}
      p #{review.titleEN}
      br
      br

  div
    h2 Homepage Data
    each homepage in data.homepage
      p #{homepage.id}
      p #{homepage.titlePT}
      p #{homepage.introPT}
      p #{homepage.aboutUsPT}
      p #{homepage.aboutUsEN}
      p #{homepage.introEN}
      p #{homepage.titleEN}
      br
      br
  
  div
    h2 Contact Us
    each contactUs in data.contactUs
      p #{contactUs.id}
      p #{contactUs.address1}
      p #{contactUs.address2}
      p #{contactUs.email}
      p #{contactUs.phone}
      p #{contactUs.locationURL}
      br
      br

  div
    h2 Clients
    each client in data.clients
      p #{client.id}
      p #{client.name}
      p #{client.logoURL}
      p #{client.isShowing}
      p #{client.clientURL}
      br
      br

  script(src='/javascripts/test.js')


